ds_managment/from_passport.csv
ds_managment/crits.md
analytics/.DS_Store
ds_managment/Терещенкова_задание_текст.pdf
ds_managment/Терещенкова_Лилия_Барко_Питч_0.pdf
ds_managment/Терещенкова_Лилия_Барко_Питч.pdf
ds_managment/Терещенкова_Лилия_Барко_Расчеты.xlsx
ds_managment/.DS_Store
.DS_Store
